{% extends "base.html" %}

{% block title %}Lista de Colaboradores{% endblock %}
{% block page_title %}Lista de Colaboradores{% endblock %}

{% block content %}
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for colaborador in colaboradores %}
                <tr>
                    <td>{{ colaborador.nome }}</td>
                    <td>{{ colaborador.cpf }}</td>
                    <td>{{ colaborador.rg }}</td>
                    <td>{{ colaborador.cidade }}</td>
                    <td>{{ colaborador.estado }}</td>
                    <td>{{ colaborador.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
